<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openrun.ticket.mappers.GuideMapper">
	<resultMap id="guideResult" type="guideVO">
		<result property="guideNo" column="GUIDE_NO" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="category" column="CATEGORY" />
		<result property="imgOriginName" column="IMG_ORIGIN_NAME" />
		<result property="imgSaveName" column="IMG_SAVE_NAME" />
		<result property="imgPath" column="IMG_PATH" />
	</resultMap>
	
	<select id="selectAllGuideList" resultMap="guideResult">
			select * from guide order by GUIDE_NO asc 
	</select>
	
    <!-- 페이지네이션을 위한 쿼리 -->
	<select id="selectAllGuideListWithPagination" resultMap="guideResult" parameterType="map">
	    select * from guide
	    order by GUIDE_NO asc
	    limit #{pageSize} offset #{start}
	</select>

    <!-- 전체 이용가이드 개수를 가져오는 쿼리 -->
    <select id="selectTotalGuideCount" resultType="int">
        select count(*) from guide
    </select>
	
    <select id="getGuideByGuideNo" resultMap="guideResult" parameterType="int">
        	select * from guide where GUIDE_NO=#{guideNo}
    </select>
    
    <!-- 카테고리로 필터링된 이용가이드 목록을 가져오는 쿼리 -->
	<select id="selectGuidesByCategoryWithPagination" resultMap="guideResult" parameterType="map">
	    select * from guide
	    where CATEGORY_NO=#{categoryNo}
	    order by GUIDE_NO asc
	    limit #{pageSize} offset #{start}
	</select>
    
    <!-- 카테고리별 이용가이드 개수를 가져오는 쿼리 -->
    <select id="selectTotalGuideCountByCategory" parameterType="int" resultType="int">
        select count(*) from guide
        where CATEGORY_NO=#{categoryNo}
    </select>

	<insert id="insertGuide" parameterType="guideVO">
			insert into guide(CATEGORY, CATEGORY_NO, IMG_ORIGIN_NAME, IMG_SAVE_NAME, IMG_PATH)
			values(#{category}, #{categoryNo}, #{imgOriginName}, #{imgSaveName}, #{imgPath})
	</insert>
	
	<update id="updateGuide" parameterType="guideVO">
			update guide
			set CATEGORY=#{category}, CATEGORY_NO=#{categoryNo}, #{imgOriginName}, #{imgSaveName}, #{imgPath}
			where
			GUIDE_NO=#{guideNo} 
	</update>
	
	<delete id="deleteGuide" parameterType="guideVO">
			delete from guide
			where
			GUIDE_NO=#{guideNo}
	</delete>
	
</mapper>
