<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openrun.ticket.mappers.NoticeMapper">
	<resultMap id="noticeResult" type="noticeVO">
		<result property="noticeNo" column="NOTICE_NO" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="category" column="CATEGORY" />
		<result property="title" column="TITLE" />
		<result property="body" column="BODY" />
		<result property="regDate" column="REG_DATE" />
	</resultMap>
	
	<select id="selectAllNoticeList" resultMap="noticeResult">
			select * from notice order by NOTICE_NO desc 
	</select>
	
    <!-- 페이지네이션을 위한 쿼리 -->
	<select id="selectAllNoticeListWithPagination" resultMap="noticeResult" parameterType="map">
	    select * from notice
	    order by NOTICE_NO desc
	    limit #{pageSize} offset #{start}
	    <!--  
	    limit #{start}, #{pageSize}
		-->
	</select>

    <!-- 전체 공지사항 개수를 가져오는 쿼리 -->
    <select id="selectTotalNoticeCount" resultType="int">
        select count(*) from notice
    </select>
    
    <!-- 카테고리로 필터링된 공지사항 목록을 가져오는 쿼리 -->
	<select id="selectNoticesByCategoryWithPagination" resultMap="noticeResult" parameterType="map">
	    select * from notice
	    where CATEGORY_NO=#{categoryNo}
	    order by NOTICE_NO desc
	    limit #{pageSize} offset #{start}
	</select>
    
    <!-- 카테고리별 공지사항 개수를 가져오는 쿼리 -->
    <select id="selectTotalNoticeCountByCategory" parameterType="int" resultType="int">
        select count(*) from notice
        where CATEGORY_NO=#{categoryNo}
    </select>
	
	<!-- 공지사항 상세 조회 -->
    <select id="getNoticeByNoticeNo" resultMap="noticeResult" parameterType="int">
        	select * from notice where NOTICE_NO=#{noticeNo}
    </select>
    
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="noticeVO">
			insert into notice(CATEGORY, CATEGORY_NO, TITLE, BODY)
			values(#{category}, #{categoryNo}, #{title}, #{body})
	</insert>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="noticeVO">
			update notice
			set CATEGORY=#{category}, CATEGORY_NO=#{categoryNo}, TITLE=#{title}, BODY=#{body}
			where
			NOTICE_NO=#{noticeNo} 
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="noticeVO">
			delete from notice
			where
			NOTICE_NO=#{noticeNo}
	</delete>
	
	<!-- 검색 테스트 
	<select id="searchNoticesByTitle" resultMap="noticeResult">
    	select * from notice where TITLE like CONCAT('%', #{searchKeyword}, '%') order by NOTICE_NO desc
	</select>
	-->
	
</mapper>
