<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.openrun.ticket.UserMapper">
  <resultMap id="userResult" type="userVO">
		<result property="user_no" column="user_no" />
		<result property="u_id" column="u_id" />
		<result property="u_pw" column="u_pw" />
		<result property="u_name" column="u_name" />
		<result property="u_birth" column="u_birth" />
		<result property="u_address" column="u_address" />
		<result property="u_phone" column="u_phone" />
		<result property="u_email" column="u_email" />
		<result property="u_bank_name" column="u_bank_name" />
		<result property="u_account_no" column="u_account_no" />
		<result property="u_join_date" column="u_join_date" />
	</resultMap>
	<select id='user' resultType="userVO">
		select * from user
	</select>
	<insert id="insertUser" parameterType="userVO">
        INSERT INTO user (u_id, u_pw, u_name, u_birth, u_address, u_phone, u_email, u_bank_name, u_account_no)
        VALUES (#{u_id}, #{u_pw}, #{u_name}, #{u_birth}, #{u_address}, #{u_phone}, #{u_email}, #{u_bank_name}, #{u_account_no})
    </insert>
    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user WHERE u_id = #{u_id}
    </select>
	<select id="login" parameterType="userVO" resultType="userVO" >
        SELECT * FROM user WHERE u_id = #{u_id} AND u_pw = #{u_pw}
    </select>
    <select id="findIdCheck" parameterType="userVO" resultType="userVO" >
        SELECT * FROM user WHERE u_name = #{u_name} AND u_birth = #{u_birth}
    </select>
    <select id="findPwCheck" parameterType="userVO" resultType="userVO" >
        SELECT * FROM user WHERE u_name = #{u_name} AND u_birth = #{u_birth} AND u_id = #{u_id}
    </select>
    <update id="pwChange" parameterType="userVO">
        UPDATE user SET u_pw = #{u_pw} WHERE u_id = #{u_id}
    </update>
     <delete id="withdrawal" parameterType="userVO">
       DELETE FROM user WHERE u_id = #{u_id} AND u_pw = #{u_pw};
    </delete>
    <select id="modificationPwCheck" parameterType="userVO" resultType="userVO">
    	SELECT * FROM user WHERE u_id = #{u_id} AND u_pw = #{u_pw}
    </select>
    <update id="modification" parameterType="userVO">
        UPDATE user SET u_pw = #{u_pw},u_name = #{u_name},u_birth = #{u_birth},u_phone = #{u_phone},u_email = #{u_email},
        				u_bank_name = #{u_bank_name},u_account_no = #{u_account_no},u_address = #{u_address}
        				WHERE u_id = #{u_id}
    </update>
	</mapper>